nav {
   
    width:30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: fixed;
    top: 1rem;
    z-index: 1000;
    background:var(--color-light);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    
}
.nav__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
 .nav__container .icon a {
   
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 87%, 3%, 0.852);
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   
}
.nav__container .icon a .react-icon {
    font-size: 23px;
    line-height: 50px;
}
.nav__container .icon .tooltip {
    position: absolute;
    bottom: -33px;
    background:var(--color-primary);
    color:var(--color-white);
    font-size: 15px;
    padding:2px 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    z-index:50;
}
.nav__container .icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}
.nav__container .icon .tooltip:before {
    position: absolute;
    content: "";
    width:20px;
    height:20px;
    background:var(--color-primary);
    top: -5px;
    left: 20px;
    transform: translateX(-50%) rotate(45deg);
   z-index:-2;
}
.nav__container a.active {
    
    background: var(--color-primary);
   
}


/* ===========MEDIA QUERIES (md)========= */
@media screen and (max-width:1024px) {
     nav 
     {
        width:40%;

     }
     .nav__container
     {
        gap:1rem;
     }
}

/* ===========MEDIA QUERIES (sm)========= */
@media screen and (max-width:600px) {
    nav 
    {
       width:100%;
        
    }
    .nav__container
    {
       gap:.8rem;
    }
}